---

- name: "install basics"
  block:

  - name: "Install basics"
    ansible.builtin.dnf:
      name: "{{ default }}"
      state: present

  - name: "install SELinux recommends"
    ansible.builtin.dnf:
      name: "{{ selinux }}"
      state: latest

  - name: "Install monitoring software"
    ansible.builtin.dnf:
      name: "{{ monitor }}"
      state: present

  when:
  - ansible_facts['pkg_mgr'] == "dnf"

- name: "install basics - dnf5"
  block:

  - name: "Install basics"
    ansible.builtin.dnf:
      name: "{{ default }}"
      state: present

  - name: "install SELinux recommends"
    ansible.builtin.dnf:
      name: "{{ selinux }}"
      state: latest

  - name: "Install monitoring software"
    ansible.builtin.dnf:
      name: "{{ monitor }}"
      state: present

  when:
  - ansible_facts['pkg_mgr'] == "dnf5"
