---
- name: "download script for custom bashrc profile"
  get_url:
    url: "https://raw.githubusercontent.com/rogrwhitakr/northern-lights/master/script/setup-profile-on-new-box.bash"
    dest: "/home/{{ ansible_user }}/profile-setup.bash"
    mode: 740
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Run the script
  become_user: "{{ ansible_user }}"
  ansible.builtin.script: "/home/{{ ansible_user }}/profile-setup.bash"
  args:
    creates: "/home/{{ ansible_user }}/.bashrc.d"

- name: remove script
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/profile-setup.bash"
    state: absent
