---
- name: "install basics"
  include_tasks: 1_installs.yml

- name: "harden the ssh daemon"
  include_tasks: 2_harden-ssh.yml

# powerline (not active ATM, is slow)
# - name: "add powerline"
#   include_tasks: 3_powerline.yml

# bashrc
#- name: "create a decent bashrc"
#  include_tasks: 4_bashrc.yml

# qemu guest agent
- name: "install guest agent"
  include_tasks: 5_virtualisation.yml
  when: ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "kvm"

- name: "DEBUG: Show virtualization facts"
  ansible.builtin.debug:
    msg:
      - "Virtualization Role: {{ ansible_facts['virtualization_role'] | default('N/A') }}"
      - "Virtualization Type: {{ ansible_facts['virtualization_type'] | default('N/A') }}"

- name: Exclude postgresql-server from updates
  lineinfile:
    path: /etc/dnf/dnf.conf
    line: "exclude=postgresql-server"