---
- name: "install basics"
  include_tasks: 1_installs.yml

- name: "harden the ssh daemon"
  include_tasks: 2_harden-ssh.yml

# powerline (not active ATM, is slow)
# - name: "add powerline"
#   include_tasks: 3_powerline.yml

# bashrc
#- name: "create a decent bashrc"
#  include_tasks: 4_bashrc.yml

# qemu guest agent
- name: "install guest agent"
  include_tasks: 5_virtualisation.yml

# dnf automatic
- name: "install guest agent"
  include_tasks: 6_automatic.yml