---
- name: "install basics"
  include_tasks: 1_installs.yml

# tasks file for common
#- name: "harden the ssh daemon"
#  include_tasks: 2_harden-ssh.yml

# powerline (not active ATM, is slow)
# - name: "add powerline"
#   include_tasks: 3_powerline.yml

# bashrc
#- name: "create a decent bashrc"
#  include_tasks: 4_bashrc.yml

# qemu guest agent
- name: "install guest agent"
  include_tasks: 5_virtualisation.yml
  when: ansible_facts['virtualization_role'] == "guest" and ansible_facts['virtualization_type'] == "kvm"

- name: Exclude postgresql-server from updates
  lineinfile:
    path: /etc/dnf/dnf.conf
    line: "exclude=postgresql-server"