---
- name: Perform Fedora system upgrade to release 43
  hosts: all
  become: true

  vars:
    ansible_python_interpreter: /usr/bin/python3
    target_release: 43

  tasks:
  - name: upgrade all packages to latest
    ansible.builtin.dnf:
      name: "*"
      state: latest

  - name: Install the DNF plugin
    ansible.builtin.dnf:
      name: dnf-plugin-system-upgrade
      state: latest  

  - name: Ensure dnf-plugin-system-upgrade is installed
    ansible.builtin.dnf:
      name: dnf-plugin-system-upgrade
      state: present
      disable_excludes: system-upgrade

  - name: Download the system upgrade packages for release {{ target_release }}
    ansible.builtin.command:
      cmd: dnf system-upgrade download --releasever={{ target_release }} -y
    register: upgrade_download_status
    failed_when: upgrade_download_status.rc != 0 and "Nothing to do" not in upgrade_download_status.stdout

  - name: Initiate the system upgrade and reboot
    ansible.builtin.command:
      cmd: dnf system-upgrade reboot -y
    async: 10 
    poll: 0   
    when: "'Nothing to do' not in upgrade_download_status.stdout"

  - name: Wait for the host to come back online after the reboot
    ansible.builtin.wait_for_connection:
      delay: 60  
      timeout: 7200 # Total time to wait for host to reappear (1 hour)
    delegate_to: localhost
    when: "'Nothing to do' not in upgrade_download_status.stdout"

